[Desktop Entry]
Version=1.0
Name=TERRACREDIT Core
Comment=TERRACREDIT P2P Cryptocurrency
Comment[fr]=TERRACREDIT, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TERRACREDIT, eşten eşe kriptografik sanal para birimi
Exec=terracredit-qt %u
Terminal=false
Type=Application
Icon=terracredit128
MimeType=x-scheme-handler/terracredit;
Categories=Office;Finance;
StartupWMClass=TerraCredit-qt
